.note {
    padding: 1em 1.2em 1em 1.2em;
    position: relative;

    display: flex;
    flex-direction: column;
    height: 12em;

    gap: .5em;
}

.note-title {
    font-weight: 600;
    font-size: 1.1em;
}

.note-content {
    font-weight: 500;
    font-size: 0.85em;
    flex: 1;
}

.note-priority {
    position: absolute;
    right: 4em;
    top: 1.65em;

    font-weight: 500;
    font-size: 0.7em;
}

.note-date {
    font-size: 0.8em;
    opacity: 50%;
}

.note-tags {
    font-size: .645em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}

.note-tag {
    padding: .2em .5em .2em .5em;
    background-color: ghostwhite;
    height: 1.5em;
}

#switch-pin-btn {
    right: 1.5rem;
    top: 1.75rem;
    font-size: 1.5em;
    transform: translate(50%, -50%);

    position: absolute;
    transition: all .5s;

    cursor: pointer;
}

#switch-pin-btn .pinned{
    fill: var(--theme-color);
}

#switch-pin-btn .unpinned{
    fill: var(--light-gray);
}

#switch-pin-btn .unpinned:hover {
    fill: var(--theme-color);
}