.note-form {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;

    background-color: white;
    padding: 1em;
    width: 50%;

    display: grid;
    grid-template-rows: auto auto 30vh auto auto;
    grid-template-columns: repeat(3, 1fr);
}

#form-type, #form-title, #form-content, #form-submit {
    grid-column: span 3;
}